.ReactModal__Overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: transparentize(rgb(255, 0, 0), 0.1);
}

.ReactModal__Content {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  max-width: 900px;


  @media screen and (max-width: 600px) {
    width: calc(100vw - 24px);
  }

}

