.formGroup {
  position: relative;
  width: 100%;
  margin-top: 25px;
  padding-top: 10px;

  &:first-of-type {
    margin-top: 0;
  }
}

.formGroupLoginPage {
  @extend .formGroup;
}

.formGroupName {
  @extend .formGroupLoginPage;
  width: 100%;
}

.formGroupPassword {
  @extend .formGroupLoginPage;
}

.formGroupLabel {
  display: block;
  margin-bottom: 6px;
  opacity: 0.7;
  line-height: 1;
  font-size: .8125rem;
  color: rgba(51, 51, 51, 0.7);
}

.inputGroup {
  position: relative;

  input[type="password"] {
    padding-right: 43px;
  }
}

.formGroupIcon {
  width: 16px;
  position: absolute;
  top: 50%;
  right: 19px;
  transform: translate(0, -50%);
}

.errorMessage {
  display: block;
  width: 100%;
  font-size: .75rem;
  color: #f03a5f;
  height: auto;
  margin-top: 10px;
  text-align: center;
}

.formGroupDisabled {
  opacity: .3;
}
